<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.TSystemDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.TSystemDictionary">
    <!--@mbg.generated generated on Fri Oct 11 11:28:27 CST 2019.-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Fri Oct 11 11:28:27 CST 2019.-->
    id, code, name, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated generated on Fri Oct 11 11:28:27 CST 2019.-->
    select 
    <include refid="Base_Column_List" />
    from t_system_dictionary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated generated on Fri Oct 11 11:28:27 CST 2019.-->
    delete from t_system_dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.TSystemDictionary">
    <!--@mbg.generated generated on Fri Oct 11 11:28:27 CST 2019.-->
    insert into t_system_dictionary (id, code, name, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.TSystemDictionary">
    <!--@mbg.generated generated on Fri Oct 11 11:28:27 CST 2019.-->
    insert into t_system_dictionary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.TSystemDictionary">
    <!--@mbg.generated generated on Fri Oct 11 11:28:27 CST 2019.-->
    update t_system_dictionary
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.TSystemDictionary">
    <!--@mbg.generated generated on Fri Oct 11 11:28:27 CST 2019.-->
    update t_system_dictionary
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="getQuery" resultMap="BaseResultMap">
        SELECT *
        FROM t_system_dictionary
        WHERE 1=1
        <if test="keyword != null and keyword != ''">
        AND  NAME LIKE  concat('%',#{keyword},'%')
        </if>
      <if test="param2.currentPage != null and param2.currentPage!=null">
        LIMIT #{param2.currentPage,jdbcType=INTEGER},#{param2.visiblePages,jdbcType=INTEGER}
      </if>

    </select>

  <select id="getQueryCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM t_system_dictionary
        WHERE 1=1
        <if test="keyword != null and keyword != ''">
        AND  NAME LIKE concat('%',#{keyword},'%')
        </if>
  </select>
  <select id="getAll" resultMap="BaseResultMap">
        SELECT * FROM t_system_dictionary
  </select>
</mapper>